body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f9b0f, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    width: 380px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

h1 {
    color: #0f9b0f;
    margin-bottom: 10px;
}

p {
    color: #444;
    font-size: 16px;
}

button {
    margin-top: 20px;
    background: #0f9b0f;
    color: white;
    border: none;
    padding: 13px 22px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #087508;
    transform: scale(1.05);
}